# http://pylint.pycqa.org/en/latest/technical_reference/features.html
# https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/pylintrc


[MESSAGES CONTROL]

disable=fixme


[TYPECHECK]

ignored-modules=tensorflow.keras


[BASIC]

variable-rgx=^[a-z][a-z0-9_]*$
docstring-min-length=10


[FORMAT]

max-line-length=80
indent-string='  '
ignore-long-lines=(?x)
  (^(import|from)\s
   |(https?|ftp):)


[SIMILARITIES]

ignore-imports=yes


[DESIGN]

max-locals=99
