[MESSAGES CONTROL]

disable=fixme


[TYPECHECK]

ignored-modules=tensorflow.keras


[BASIC]

variable-rgx=^[a-z][a-z0-9_]*$
docstring-min-length=10


[FORMAT]

max-line-length=80
indent-string='  '


[DESIGN]

max-locals=99
