# http://pylint.pycqa.org/en/latest/technical_reference/features.html
# https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/pylintrc


[MESSAGES CONTROL]

disable=design,fixme,similarities


[TYPECHECK]

ignored-modules=tensorflow.keras


[BASIC]

argument-rgx=^[a-z][a-z0-9_]*$
variable-rgx=^[a-z][a-z0-9_]*$
docstring-min-length=10


[FORMAT]

max-line-length=80
indent-string='  '
ignore-long-lines=(?x)
  (^(import|from)\s
   |(https?|ftp):)
